In [1]:
# Import Splinter and BeautifulSoup
import numpy  as np
import pandas as pd

import bs4
from   bs4 import BeautifulSoup as soup

import webdriver_manager
from   webdriver_manager.chrome import ChromeDriverManager

import splinter
from   splinter import Browser
# This Splinter code will be used in the assignment below.
# executable_path = {'executable_path': ChromeDriverManager().install()}
# browser         = Browser(driver_name='chrome',
#                           retry_count=1,
#                           **executable_path,
#                           headless   =True) # set to False if you would like to see the web page

# Selenium 4
#   Selenium 4 code should not be required to run Splinter code.
#   Selenium 4 code is included here for the purposes of explication.
import selenium
from   selenium                          import webdriver
from   selenium.webdriver.chrome.service import Service as ChromeService
from   selenium.webdriver.common.by      import By

from datetime import datetime
print(datetime.now())
print()
import platform
print(f"{'Platform':<20}: "
      f"{platform.mac_ver()[0]} | "
      f"{platform.system()} | "
      f"{platform.release()} | "
      f"{platform.machine()}")
print()
import sys
print(f"{'Python':<20}: {sys.version}")
print(f"{'':<20}: {sys.version_info}")
print(f"{'':<20}: {platform.python_implementation()}")
print()
print(f"{'Beautiful Soup':<20}: {bs4.__version__}")
print(f"{'NumPy':<20}: {np.__version__}")
print(f"{'Pandas':<20}: {pd.__version__}")
print(f"{'Selenium':<20}: {selenium.__version__}")
print(f"{'Splinter':<20}: {splinter.__version__}")
print(f"{'webdriver-manager':<20}: {webdriver_manager.__version__}")

2022-08-21 14:18:01.803378

Platform            :  | Windows | 10 | AMD64

Python              : 3.10.5 | packaged by conda-forge | (main, Jun 14 2022, 06:57:19) [MSC v.1929 64 bit (AMD64)]
                    : sys.version_info(major=3, minor=10, micro=5, releaselevel='final', serial=0)
                    : CPython

Beautiful Soup      : 4.11.1
NumPy               : 1.23.2
Pandas              : 1.4.3
Selenium            : 4.2.0
Splinter            : 0.18.1
webdriver-manager   : 3.8.3

In [2]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

[WDM] - Downloading: 100%|████████████████████████████████████████████████████████| 6.21M/6.21M [00:01<00:00, 3.82MB/s]

In [3]:
# Visit the mars nasa news site
url = 'https://redplanetscience.com'
browser.visit(url)
# Optional delay for loading the page
browser.is_element_present_by_css('div.list_text', wait_time=1)

True

In [4]:
html = browser.html
news_soup = soup(html, 'html.parser')
slide_elem = news_soup.select_one('div.list_text')

In [5]:
slide_elem.find('div', class_='content_title')

In [6]:
# Use the parent element to find the first `a` tag and save it as `news_title`
news_title = slide_elem.find('div', class_='content_title').get_text()
news_title

'NASA to Reveal Name of Its Next Mars Rover'

In [7]:
# Use the parent element to find the paragraph text
news_p = slide_elem.find('div', class_='article_teaser_body').get_text()
news_p

"After a months-long contest among students to name NASA's newest Mars rover, the agency will reveal the winning name — and the winning student — this Thursday. "

### Featured Images

In [8]:
# Visit URL
url = 'https://spaceimages-mars.com'
browser.visit(url)

In [9]:
# Find and click the full image button
full_image_elem = browser.find_by_tag('button')[1]
full_image_elem.click()

In [10]:
# Parse the resulting html with soup
html = browser.html
img_soup = soup(html, 'html.parser')

In [11]:
# Parse the resulting html with soup
html = browser.html
img_soup = soup(html, 'html.parser')

In [12]:
# Find the relative image url
img_url_rel = img_soup.find('img', class_='fancybox-image').get('src')
img_url_rel

'image/featured/mars2.jpg'

In [13]:
# Use the base URL to create an absolute URL
img_url = f'https://spaceimages-mars.com/{img_url_rel}'
img_url

'https://spaceimages-mars.com/image/featured/mars2.jpg'

In [14]:
df = pd.read_html('https://galaxyfacts-mars.com')[0]
df.columns=['description', 'Mars', 'Earth']
df.set_index('description', inplace=True)
df

                                    Mars            Earth
description
Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [15]:
df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n    <tr>\n      <th>description</th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Mars - Earth Comparison</th>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <th>Diameter:</th>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>Distance from Sun:</th>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>Length of Year:</th>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>Temperature:</th>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'